@import "tailwindcss";

@theme {
  --color-accent: #1DB954;
  --color-accent-hover: #1ed760;
}

@layer base {
  body {
    @apply bg-gray-950 text-gray-100 antialiased;
    margin: 0;
    padding: 0;
    
  }
  html {
    margin: 0;
    padding: 0;
  }
}
